// 依順序載入BS相關scss檔案
@import "~bootstrap/scss/functions";
@import "../helpers/variables";      //複製一份客製化
@import "~bootstrap/scss/bootstrap";
// 各頁面scss檔案
@import "./dashboard";
// RWD
$mobile: '568px';
$pad-m: '768px';
$pad-l: '960px';

@mixin screen($size){
  @media(max-width: $size){
    @content
  }
}

.section{
  padding-top: 0;
  padding-bottom: 80px;
  @include screen($mobile){
    padding-top: 0;
    padding-bottom: 40px;
  }
}

.pageFullBanner{
  width: 100%;
  height: 400px;
  background-color: rgb(129, 129, 129);
  @include screen($mobile){
    height: 0;
    padding-top: 78.94%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}